services:
  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=crs
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports: # TODO (for all ports), expose vs bind
      - "${POSTGRES_PORT}:5432"
    volumes:
      - {{ config_hash }}_postgres_data:/var/lib/postgresql/data
    networks:
      - {{ config_hash }}_crs_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U crs -h localhost -p 5432"]
      interval: 5s
      timeout: 5s
      retries: 5

  litellm:
    image: ghcr.io/berriai/litellm-database:main-stable
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - LITELLM_MASTER_KEY=${LITELLM_MASTER_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - DATABASE_URL=postgresql://crs:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/crs
    ports:
      - "4000:4000"
    volumes:
      - {{ config_dir }}/config-litellm.yaml:/app/config.yaml:ro
    networks:
      - {{ config_hash }}_crs_network
    command: --config /app/config.yaml --detailed_debug

networks:
  {{ config_hash }}_crs_network:
    driver: bridge
    name: {{ config_hash }}_crs_network

volumes:
  {{ config_hash }}_postgres_data:
    name: {{ config_hash }}_postgres_data
