model_list:
  - model_name: gpt-4o-mini
    litellm_params:
      model: gpt-4o-mini
      api_key: os.environ/OPENAI_API_KEY
  - model_name: gpt-4o
    litellm_params:
      model: gpt-4o
      # You can use an existing LiteLLM proxy
      api_key: os.environ/LITELLM_KEY
      api_base: https://litellm.example.com:4000
